@import url('https://fonts.googleapis.com/css2?family=Joan&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap');
*{ 
    margin: none;
    padding: none;
    border: none;
    box-sizing: border-box;
}
body{
    font-family: 'Joan', serif;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
}
nav{
}
img{
    border-radius: 50%;
    width: 200px;
}
a{
    text-decoration: none;
    color: black;
}
.links {
   letter-spacing: 12px;
}