@import url("https://fonts.googleapis.com/css2?family=Joan&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap");
* {
  margin: none;
  padding: none;
  border: none;
  box-sizing: border-box;
}
body {
  font-family: "Joan", serif;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar {
  height: 30px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
li {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: black;
}

img {
  border-radius: 50%;
  width: 200px;
}
.links > a {
  text-decoration: none;
  color: black;
}
.links {
  letter-spacing: 12px;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  margin: 2.5rem 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}
